.header {
  background: linear-gradient(rgba(224, 60, 60, 0.7725490196), rgba(224, 60, 60, 0.3882352941)), url(../img/hero-bg.png);
  background-size: cover;
  background-position: top left;
  height: 100vh;
  overflow: hidden;
}
.header .navbar {
  height: 20vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.header .navbar .brand {
  z-index: 2;
}
.header .navbar .toggle-button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 30px;
  z-index: 2;
}
.header .navbar .toggle-button .bar {
  width: 100%;
  height: 3px;
  background-color: white;
}
@media (min-width: 768px) {
  .header .navbar .toggle-button {
    visibility: hidden;
  }
}
.header .navbar .nav {
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: -100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  transition: all 0.5s;
}
.header .navbar .nav .nav-item {
  list-style: none;
  margin: 20px;
  padding: 10px 20px;
}
@media (min-width: 768px) {
  .header .navbar .nav .nav-item {
    margin: 0;
  }
}
.header .navbar .nav .nav-link {
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  transition: all 0.2s;
  padding: 8px 0;
  position: relative;
}
.header .navbar .nav .nav-link::before {
  content: "";
  background-color: white;
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 0;
  transition: all 0.3s;
}
.header .navbar .nav .nav-link:hover::before {
  width: 100%;
}
.header .navbar .nav .nav-link.active::before {
  width: 100%;
}
@media (min-width: 768px) {
  .header .navbar .nav .nav-link {
    display: inline-block;
  }
}
@media (min-width: 768px) {
  .header .navbar .nav {
    position: static;
    flex-direction: row;
    justify-content: flex-end;
  }
}
.header .navbar .open {
  right: 0 !important;
}
.header .hero {
  color: white;
  padding: 80px 0;
  display: flex;
  justify-content: space-between;
}
.header .hero__text {
  width: 40%;
  height: 100%;
}
.header .hero__text--heading {
  font-size: 38px;
  text-transform: uppercase;
  font-weight: 800;
}
.header .hero__text--text {
  font-size: 22px;
  line-height: 1.3;
  margin: 40px 0;
  font-weight: 100;
}
.header .hero__text--cta {
  color: white;
  background-color: #2e2e38;
  display: inline-block;
  padding: 12px 24px;
  border-radius: 100px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.header .hero__text--cta img {
  width: 18px;
  margin-right: 15px;
}
.header .hero__picture {
  position: relative;
  width: 50%;
}
.header .hero__picture > img {
  position: absolute;
}
.header .hero__picture .iphone-off {
  width: 300px;
  right: 0;
  top: 800px;
  -webkit-animation: slideUp 1s linear 1s forwards 1;
          animation: slideUp 1s linear 1s forwards 1;
}
.header .hero__picture .iphone-on {
  width: 260px;
  right: 20px;
  top: 88px;
  -webkit-animation: powerOn 0.6s linear 3s 1 forwards;
          animation: powerOn 0.6s linear 3s 1 forwards;
  opacity: 0;
}
.header .hero__picture .iphone-btn {
  width: 40px;
  right: 60px;
  top: 800px;
  -webkit-animation: btnSlideUp 2s linear 1s forwards;
          animation: btnSlideUp 2s linear 1s forwards;
}

.features {
  padding: 80px 0;
  text-align: center;
  color: #928d8d;
}
.features header {
  -webkit-animation: show 1s ease forwards;
          animation: show 1s ease forwards;
}
.features__heading {
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
}
.features__text {
  font-size: 18px;
  padding: 20px 0 60px;
  width: 80%;
  margin: 0 auto;
  line-height: 1.2;
}
.features .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}
.features .row .col h3 {
  color: black;
  font-size: 26px;
  font-weight: bold;
  padding: 20px 0;
}
.features .row .col p {
  line-height: 1.3;
  font-size: 18px;
}
.features .row .col:nth-child(1) {
  -webkit-animation: fadeLeft 1s ease 0.2s 1 forwards;
          animation: fadeLeft 1s ease 0.2s 1 forwards;
}
.features .row .col:nth-child(2) {
  -webkit-animation: fadeUp 1s ease 0.2s 1 forwards;
          animation: fadeUp 1s ease 0.2s 1 forwards;
}
.features .row .col:nth-child(3) {
  -webkit-animation: fadeRight 1s ease 0.2s 1 forwards;
          animation: fadeRight 1s ease 0.2s 1 forwards;
}

.nose {
  padding: 120px 0;
  background-image: url(../img/nose-bg.png);
  background-position: center;
  background-size: cover;
}
.nose .download-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
}
.nose .download-info h2 {
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 600;
  color: #da332d;
}
.nose .download-info h2 span {
  color: white;
}
.nose .download-info p {
  font-size: 18px;
  line-height: 1.2;
  margin: 20px 0;
  font-weight: 100;
}
.nose .download-info a {
  color: white;
  background-color: #da332d;
  border-radius: 100px;
  padding: 15px 25px;
  text-decoration: none;
}

footer {
  background-color: #2e2e38;
  color: #d7dedc;
  padding: 120px 0;
}
footer .row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 50px;
}
footer .col {
  width: 33%;
}
footer .col h4 {
  font-size: 18px;
  font-weight: 600;
  margin: 20px 0;
}
footer .col ul {
  margin: 0;
  padding: 0;
}
footer .col .about {
  font-style: italic;
  font-size: 13px;
}
footer .col li {
  font-size: 13px;
  list-style: none;
  font-weight: 300;
  margin-bottom: 10px;
}
footer .col .posts > li {
  padding-left: 35px;
  position: relative;
  line-height: 25px;
}
footer .col .posts li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 25px;
  background-color: #da332d;
}

.copyright {
  background-color: #d7dedc;
  padding: 40px 0;
}
.copyright .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.copyright .row > * {
  width: 33%;
}
.copyright .row p > a {
  text-decoration: none;
  color: black;
}
.copyright .row .images {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@-webkit-keyframes slideUp {
  from {
    top: 800px;
  }
  to {
    top: 0;
  }
}

@keyframes slideUp {
  from {
    top: 800px;
  }
  to {
    top: 0;
  }
}
@-webkit-keyframes btnSlideUp {
  0% {
    top: 800px;
  }
  50% {
    top: -3px;
  }
  90% {
    top: -1px;
  }
  100% {
    top: -3px;
  }
}
@keyframes btnSlideUp {
  0% {
    top: 800px;
  }
  50% {
    top: -3px;
  }
  90% {
    top: -1px;
  }
  100% {
    top: -3px;
  }
}
@-webkit-keyframes powerOn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes powerOn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadeLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@-webkit-keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes fadeRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@-webkit-keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* GENERAL RULES*/
@font-face {
  font-family: "HelveticaNeue-Thin";
  src: local("HelveticaNeue-Thin.otf"), url("HelveticaNeue-Thin.otf") format("opentype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

.container {
  max-width: 1100px;
  width: 80%;
  margin: 0 auto;
}/*# sourceMappingURL=style.css.map */